
		<h1>
			<u>About us</u></h1>
		<p>
			&nbsp;</p>
		<p>
			Tarun Gehlaut has an experience of 10 years in the real estate business. Vipul Malhotra has been working as an architect for the past few years.
			<br><br /> &nbsp;&nbsp;&nbsp;● TV properties was rated as one of the best startups of the year. <br />
			&nbsp;&nbsp;&nbsp;● TV properties has properties in the NCR area aswell outside it.  <br />
			&nbsp;&nbsp;&nbsp;● They are currently doing a collaboration with DLF. <br />
		</p>
		
